:root {
  --font-family-primary: "Open Sans", sans-serif;
  --black: #000000;
  --white: #ffffff;
  --brown-900: #472d2d;
  --brown-800: #553939;
  --brown-600: #704f4f;
  --brown-400: #a77979;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 728px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-size: 1rem;
  font-family: var(--font-family-primary);
  font-weight: 400;
  background-color: var(--brown-400);
  color: var(--white);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
