:root {
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Pacifico", cursive;
  --blue-950: #05070d;
  --blue-900: #0f172a;
  --blue-800: #141f38;
  --blue-50: #d2dbef;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 728px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--blue-900);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 720px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  font-family: var(--font-family-secondary);
  font-size: 16rem;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1rem;
  color: var(--blue-900);
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--blue-50);
  margin-bottom: 50px;
}

p {
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.6;
  color: var(--blue-50);
  margin-bottom: 80px;
}

form {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form label {
  letter-spacing: 2px;
  color: var(--blue-50);
  margin-right: 15px;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

form input {
  width: 100%;
  max-width: 360px;
  height: 56px;
  background-color: transparent;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 6px;
  outline: 0;
  padding: 20px 0 20px 20px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  margin-right: 15px;
}

input:focus {
  box-shadow: 2px 2px 0px 2px var(--blue-950);
}

input::placeholder {
  color: var(--blue-50);
}

form button {
  height: 60px;
  padding: 20px 80px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--blue-50);
}

button:hover {
  background-color: var(--blue-950);
}

@media (max-width: 640px) {
  h1 {
    font-size: 12rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    margin-bottom: 50px;
  }

  form {
    flex-direction: column;
  }

  form input {
    margin-right: 0;
    margin-bottom: 15px;
  }

  form button {
    max-width: 360px;
    width: 100%;
  }
}
