:root {
  --font-family-primary: "Lato", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --black-800: #171717;
  --grey-800: #444444;
  --grey-300: #ededed;
  --red-500: #da0037;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 728px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-size: 1rem;
  font-family: var(--font-family-primary);
  font-weight: 400;
  color: var(--white);
  background-color: var(--grey-800);
}

.container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.main-header {
  width: 100%;
  display: flex;
  padding: 50px 0 300px;
  background-color: var(--black-800);
}

.logo {
  flex-basis: 50%;
  align-self: center;
}

.logo h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--white);
  letter-spacing: 2px;
  cursor: pointer;
}

.menu {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  column-gap: 30px;
}

.menu li {
  list-style: none;
  color: var(--white);
  cursor: pointer;
}

.menu li:hover {
  color: var(--red-500);
}

.movies {
  width: 100%;
  margin-top: -200px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.movie {
  width: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-300);
  border-radius: 6px;
}

.movie img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 6px;
}

.movie .movie-score {
  width: 54px;
  height: 54px;
  margin-top: -27px;
  font-size: 1.125rem;
  font-weight: 900;
  text-align: center;
  line-height: 48px;
  background-color: var(--red-500);
  color: var(--grey-300);
  border: 3px solid #9f0028;
  border-radius: 50%;
}

.movie .movie-title {
  min-height: 40px;
  margin: 30px 0 10px;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: var(--black-800);
}

.movie .movie-release-date {
  font-size: 1rem;
  color: var(--grey-800);
}
