:root {
  --font-family-primary: "Press Start 2P", cursive;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 728px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--black);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 120px;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(0);
  }
}

p {
  font-size: 0.875rem;
  color: var(--white);
}
